@{
	Layout = null;
}
<html>
	<head>
		<title>Sympli Web Search Statistics Report </title>
	</head>
	<body>
		<div id="content" class="container"> </div>
		<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
		<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
		<link rel="stylesheet" runat="server" media="screen" href="@Url.Content("~/css/bootstrap.min.css")" />
		<script src="@Url.Content("~/js/basicsearch.jsx")"></script>
		<script src="@Url.Content("~/js/bootstrap.bundle.min.js")"></script>
	</body>
</html>